:root {
  --jumbotron-padding-y: 3rem;
  --success: #74AC00;
  --info: #0077CC;
  --warning: #FFCC00;
  --danger: #BF0052;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.notification_wrapper {
  position: relative;
  margin: 0 auto;
  border: 1px solid rgb(128, 128, 128);
  box-shadow: 7px 7px 16px -8px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  width: 450px;
  background: #efefef;
}

#image_holder {
  height: 75px;
  width: 75px;
}

.notification_content {
  padding: 5px;
  width: 100%;
  text-align: left;
}

.buttons_wrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.buttons_wrapper button {
  background: none;
  border: 0;
  font-size: 0.8rem;
}

.card {
  box-shadow: 1px 1px 16px -8px rgba(0, 0, 0, 0.5);
}

.card-img-top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.card-body {
  border: 1px solid rgba(128, 128, 128, 0.5);
}

.icon {
  position: relative;
  background: #fff;
  width: 200px;
  text-align: center;
  height: 200px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
}

.logo_checkbox_wrapper {
  display: flex;
  align-items: center;
  margin: 12px 0 0;
}

.logo_checkbox_wrapper label {
  margin: 0 0 0 5px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
